body{
    background-color: #353b48;
}

@media (prefers-color-scheme: dark) {
    body { 
        background: #2f3542;
    }
    .text-result{
        color: #ffffff;
    }
}
  
@media (prefers-color-scheme: light) {
    body { 
        background: #a4b0be;
    }
    .text-result{
        color: #000000;
    }
}

.text-editor{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    resize: none;
    width: 100%;
    height: 250px;
}